
.TutorialContainer{
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center ;
	color: #fff;
	margin-top: 300px;
}

.StepByStep>ol{
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 auto;
	padding: 0;
}

.StepByStep>ol>li{
	width: 100%;
	text-align: left;
	
}

li>a{
	color: rgb(55, 240, 243);
}

iframe{
	min-height: 480px;
	width: 852px;
	border-radius: 16px;
}

.VegaCheckout{
	margin-top: 64px;
}

.ButtonDownload{
	font-size: 18px;
	background: rgb(83, 218, 222);
	background: linear-gradient(90deg, rgba(83, 218, 222, 1) 0%, rgba(83, 80, 179, 1) 100%);
	border: none;
	color: #fff;
	margin-top: 32px;
}

.ButtonDownload>a{
	color: #fff;
}

@media (max-width:450px) {
	
	iframe{
		width: 350px;
		min-height: 350px;
	}

	.StepByStep>ol{
		max-width: 320px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.TutorialContainer{
		margin-top: 120px;
	}

	.TutorialContainer>h1{
		font-size: 32px;
	}
}